body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

#header {
    text-align: center;
    color: white;
    background-image: url(images/hero.png);
    padding-top: 120px;
    padding-bottom: 120px;

}

.button {
    padding: 15px 30px;
    color: white;
    font-weight: bold;
    background-color: #ff4d4d;
    border: none;
    border-radius: 8px;
}

h2 {
    font-size: 40px;
}

#donated-today {
    text-align: center;
    margin: 90px 210px;
}

.button-s {
    padding: 40px 40px;
    color: gray;
    font-weight: bold;
    font-size: 25px;
    margin-right: 10px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
}

#donate-button {
    padding: 40px 40px;
    color: #ff8080;
    font-weight: bold;
    font-size: 25px;
    margin-right: 10px;
    border: 2px solid #ff8080;
    border-radius: 5px;
    background-color: #ffe6e6;
}

.another-paragraph {
    color: #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}