body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

#header {
    text-align: center;
    color: white;
    background-image: url(images/hero.png);
    padding-top: 120px;
    padding-bottom: 120px;

}

.button {
    padding: 15px 30px;
    color: white;
    font-weight: bold;
    background-color: #ff4d4d;
    border: none;
    border-radius: 8px;
}

h2 {
    font-size: 40px;
}

#donated-today {
    text-align: center;
    margin: 90px 210px;
}

.button-s {
    padding: 40px 40px;
    color: gray;
    font-weight: bold;
    font-size: 25px;
    margin-right: 10px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
}

#donate-button {
    padding: 40px 40px;
    color: #ff8080;
    font-weight: bold;
    font-size: 25px;
    margin-right: 10px;
    border: 2px solid #ff8080;
    border-radius: 5px;
    background-color: #ffe6e6;
}

.another-paragraph {
    color: #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}

#donate-plan {
    text-align: center;

}

section {
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;




}

.max-width {
    width: 33%;
}

.food {
    background-color: #d9d9d9;
    padding: 40px 20px 0px 20px;
    border-radius: 5px;

}

.shelter {
    background-color: #ffe6e6;
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px 20px 0px 20px;
    border-radius: 5px;

}

.education {
    background-color: #ffefcc;
    padding: 40px 20px 0px 20px;
    border-radius: 5px;
}

.half-width {
    width: 50%;
    padding: 20px;

}

.half-width img {
    width: 100%;
    border-radius: 5px;

}

.half-width text {
    width: 100%;
}

#update {
    text-align: center;
}

#email {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 150px;
    padding-left: 15px;
    color: rgb(95, 90, 90);
    font-weight: bold;
    background-color: #f5eeee;
    border: none;

}

#subscribe-button {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #ffefcc;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
}

.sub-button {
    padding: 15px 30px;
    color: white;
    font-weight: bold;
    background-color: #ff4d4d;
    border: none;


}

footer {
    margin-top: 70px;
    text-align: center;
    color: rgb(240, 80, 80);
    background-color: black;
    padding-top: 20px;
    padding-bottom: 10px;
}

#footer-paragraph {
    color: gray;
}